.no-gutters{
    margin-top: 6px !important;
}
.col-md-9{
    background-color:rgb(18,18,18) !important;
    /* background-color: rgb(28, 25, 25) !important; */
    height: 538px;
    margin-right: 0px;
    border-radius: 10px;
    border-right: 5px solid black;
    overflow: auto !important;
}

.card{
    background-color:rgb(18,18,18) !important;
        /* background-color: rgb(28, 25, 25) !important; */
    border: 0px !important;
    border-radius: 10px !important;
}
.col-md-3{
    margin-left: 0px;
    border-left: 10px solid black;
}
.library{
   display: flex;
   justify-content: right;
}

body{
    color: white !important;
    background-color: black !important;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.fa-solid{
   margin-right: 10px;
}
.recentBody{
    background-color: rgba(128, 128, 128, 0.103);
    margin-top: 10px;
    padding: 0px;
    border-radius: 10px;
}
.btn-primary{
  background-color: white !important;
  color: black !important;
  border: none !important;
  border-radius: 30px !important;
}
#div{
overflow: auto !important;
   }
   ::-webkit-scrollbar{
    background: none;
   }

.add{
    margin-top: 10px;
}
.bar{
    margin-right: 5px;
}
.navlink{
    background-color: white;
    color: black;
    height: 40px !important;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}
.navlink1{
    background-color: black;
    color: white;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}
.fa-nav{
    background-color: black !important;
    color: white;
    border-radius: 20px !important;
    padding: 10px;
    }
#user{
    margin-left: 6px;

}
.col-mb-5{
 margin-left: 25px;

}
.listgroup{
   display: flex;
    list-style: none;
    text-align: center;
    margin-top: 20px;
}
/* .firstlist{
    display: flex;
    padding-left: 00px;

} */

.fa-circle-play{
    padding-right: 10px;
}
.fa-circle-pause{
    padding-right: 10px;
}
.list{
    padding-left: 15px;
    font-size: 25px;
}

#range{
    width: 400px;

}
.playlistorginal{
    padding: 0px 20px 20px 40px;
}
img{
    width: 160px;
    height: 170px;
    border-radius: 15px !important;
    padding: 10px;
}
.bottom{
    display: flex;
    padding-top: 40px;
    list-style-type: none;
}

.card1{
    position: relative;
    margin-left: 20px !important;
    background-color: rgb(33,33,33) !important;

    /* background: rgba(128, 128, 128, 0.103) !important; */
}

.playaudio{
 color: rgba(90, 86, 86, 0.493) !important;
 /* display: none;  */
}
  audio{
    width:20px;
    color: white;
  }
.sec{
    margin-top: 30px;
}
.heart{
   background: none;
    border: none;
    position: absolute;
    left:130px;
    top:10px;
    color: white;
}

.button{
    background: none;
    border: none;
}
.col-mg-5{
    margin-top: 25px !important;
}
.recentImg{
    height: 50px !important;
    width: 50px !important;
}
.recentBody{
    display: flex;
    list-style-type: none;
    margin-top: 20px;

}
.recentlist{
    margin-top: 12px;

}

#preSong,#nextSong{
    color: aliceblue;
}
.recentCardList{
    overflow: auto !important;

}
.card1{
    position: relative;
}
.fa-heart{
    position: absolute;
    left: 140px;
    top: 25px;
}
.playButton{
    position: absolute;
    top: 80px;
    left: 60px;
    font-size: 20px;
    background-color: rgb(29,185,84);
    padding: 13px 12px 13px 15px;
    text-align: center;
    border-radius: 100%;
    color: black;
}
input{
    outline: none;
}
.fa-volume-low{
    color: white !important;
}
.col-md-auto{
    font-size: 15px !important;
}
.bottomBar{
    margin-top: 18px;
    font-size: 20px;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: gray;
    color: white;
    cursor: pointer;
    height: 3px;
  }
  .bottomBar1{
    margin-top: 5px;
  }
.animate {
    width: 50px;
    height: 10px;
    margin: 10px auto;
    }
    .animationPlay {
    display: inline-block;
    background-color:rgb(29,185,84);
    width: 2px;
    height: 10px;
    animation: wave 1s linear infinite;
    }
    .a1 {
    animation-delay: .0s;
    }
    .a2 {
    animation-delay: .2s;
    }
    .a3 {
    animation-delay: .3s;
    }
    .a4 {
    animation-delay: .4s;
    }
    .a5 {
    animation-delay: .5s;
    }
    .a6 {
    animation-delay: .6s;
    }
    .a7 {
    animation-delay: .7s;
    }
    .a8 {
    animation-delay: .8s;
    }
    .a9 {
    animation-delay: .9s;
    }
    .a10 {
    animation-delay: 1.0s;
    }
    
    
    @keyframes wave {
    50%{
        transform: scaleY(80);
        transform: scaleY(5);
    }
    
    }

    .searchDiv{
        width: 58%;
        height: 100vh;
        background-color: black;
        color: white;
        position: absolute;
        z-index: 1;
        border-radius: 5px;
        display: none;
        top: 101px;
        text-decoration: none;
    }
    .content{
        padding-left: 10px;
        margin: 10px;
        color: white;
    }
    .card1 i{
        display: none;
    }
    .card1:hover i{
        display: block;
    }
    #search{
        border: none;
        border-radius: 5px;
    }
    #animation{
       visibility: hidden;
    }
    .card1:hover{
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
    h4{
        margin: 10px 0px 20px 0px;
    }
    .recentButton{
        margin-top: px;
        color: rgb(55, 174, 55);
    }
    .bottomUl{
        display: flex;
        list-style-type: none;
        margin-top: 10px;
    }
 .createList1{
        margin: 0px 0px 20px 0px;
        font-size: 20px;
    }
    /*    .createList2{
        margin: 20px 0px 0px 50px;
   } */
   .new{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 10px 10px 20px;
    margin: 50px 0px 0px 0px;
    border-radius: 10px;

   }
   .addSong{
    position: absolute;
    color:white;
    background-color: black;
    left: 20px;
    top: 23px;
    padding-left: 7px;
    padding-right: 7px;
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
    font-size: 11px;
    display: none;
   }
   .home{
    margin-bottom: 10px !important;
    font-size: 17px;
   }
   input{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
   }
   .fa-house{
    margin-right: 25px !important;
   }
   .songTrack{
    color: rgb(159, 152, 152);
   }